/* ALL PAGES */
*{
    margin: 0;
    background-color: rgb(14, 14, 14);
    color: white;
}

/* header{
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 20px;
} */


footer{
    width: 100%;
    height: 150px;
}

nav,li{
    /* background-color: rgb(30, 30, 30); */
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    list-style-type: none;
    font-size: 20pt;
    
}

#main{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.logo{
    width: 200px;
    height: 150px;
    display: flex;
    padding-top: 20px;
    /* margin-left: 50px; */
    /* background-color: rgb(30, 30, 30); */
}


.flash-message{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 28pt;
    color: aqua;
}

/* HOME PAGE AND SEARCH RESULTS */

.home{
    text-align: center;
}

.search-results{
    text-align: center;
}

.other-results{
    font-size: 25pt;
    margin-right: 25px;
}

.movie-card{
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 150px;
}

.search-form{
    margin-top: 50px;
    margin-bottom: 70px;
}

.search-bar{
    background-color: white;
    height: 100%;
    width: 500px;
    color: black;
}

.search{
    height: 37px;
    width: 100px;
    margin-left: 20px;
    background-color: aqua;
    color: black;
    font-size: 15pt;
    font-weight: bolder;
}

.movie-title{
    word-wrap: break-word;
}


.poster{
    width: 100%;
    height: 100%;
}

.results-heading{
    margin-top: 25px;
    margin-bottom: 75px;
}

/* MOVIE INFO */

.info-div{
    margin-top: 80px;
}

#movie-title{
    font-size: 50pt;
    text-align: center;
}

.info-poster{
    width: 400px;
    height: 550px;
    float: left;
    margin-top: 10px;
    margin-right: 50px;
}

.movie-info{
    margin-left: 1000px;
}

.info-info{
    margin-bottom: 8px;
    font-size: 18pt;
}

.info-header{
    color: aqua;
    font-weight: bolder;
    font-size: 22pt;
    text-decoration: underline;
}

.stream-header{
    color: white;
}

.info-ratings{
    margin-top: 0px;
    float: left;
    width: 500px;
    text-align: center;
}

.info-buttons{
    width: 200px;
    height: 50px;
    font-size: 16pt;
    margin-top: 8px;
    border: 4px solid aqua;
    text-align: center;
}

.last-button{
    margin-bottom: 40px;
}

.service-logo{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.not-available{
    width: 150px;
}

.streaming{
    text-align: center;
    margin-top: 20px;
}

.streaming>h2{
    margin-top: 20px;
}

.service-div{
    margin-top: 10px;
}







/* LOGIN & REGISTER FORMS */
.login-form{
    width: 500px;
    height: 400px;
    display: inline-block;
}

.login-form,input{
    height: 35px;
    width: 300px;
    background-color: white;
    color: rgb(14, 14, 14);
    font-size: 16pt;
    margin-bottom: 15px;
}

.login-form,label{
    font-size: 28pt;
    background-color: rgb(14, 14, 14);
}

.login-center{
    text-align: center;
    display: block;
}

.login-center,h1{
    font-size: 50pt;
    margin-bottom: 40px;
}

.login-button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}


/* REVIEWS */
.reviews-table{
    /* background-color: aqua; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.reviews-data{
    font-size: 16pt;
    padding: 10px;
}

.reviews-header{
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.reviews-title{
    text-align: center;
    margin-top: 25px;
}



/* WRITE REVIEW */

.write-review{
    text-align: center;
}

.write-review > h2{
    margin-bottom: 50px;
    font-size: 40pt;
}

#review-text{
    background-color: white;
    color:rgb(14, 14, 14);
    font-size: 20pt;
    width: 800px;
    height: 350px;
}

.review-submit{
    width: 200px;
    height: 50px;
    font-size: 28pt;
}



.your-list{
    text-align: center;
}

.your-list>h2{
    font-size: 40pt;
    margin-bottom: 50px;
}

.list-button{

    width: 160px;
    height: 40px;
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid aqua;
}


