<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>           
        <nav>
            {% if session['email'] %}
                <a href="{{ url_for('process_logout') }}"><li>Logout</li></a>
                <a href="{{ url_for('your_list') }}"><li>Your List</li></a>
                <a href="{{ url_for('your_ratings') }}"><li>Your Ratings</li></a>
                <a href="{{ url_for('your_reviews') }}"><li>Your Reviews</li></a>
                <li>Hello, {{session['name']}}</li>
            {% else %}
                <a href="{{ url_for('show_register') }}"><li>Register</li></a>
                <a href="{{ url_for('show_login') }}"><li>Login</li></a>
            {% endif %}
        </nav>
    </header>

    

    <section id="main">
        <a href="{{url_for('home') }}"><img src="../static/images/logo2.png" class="logo"></a> 
        <h2 class="flash-message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        </h2>

        
        {% block content %}
        
        {% endblock %}
    </section>

    <footer></footer>

    
    
</body>
</html>