<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
            <a href="{{url_for('home') }}"><img src="../static/images/logo.png" class="logo"></a>
        <nav>
            
            {% if session %}
                <li>Hello, {{session['name']}}</li>
                <a href="{{ url_for('process_logout') }}"><li>Logout</li></a>
                <a href="#"><li>Your List</li></a>
                <a href="#"><li>Your Ratings</li></a>
                <a href="#"><li>Your Reviews</li></a>
            {% else %}
                <a href="{{ url_for('show_register') }}"><li>Register</li></a>
                <a href="{{ url_for('show_login') }}"><li>Login</li></a>
            {% endif %}
            
        </nav>
    </header>

    <section id="main">
        {% block content %}
        
        {% endblock %}
    </section>

    <footer></footer>
    
</body>
</html>