{% extends 'base.html' %}

{% block title %} {{ results['title'] }} {% endblock %}

{% block content %}

    <div class="movie-info">
        <h1 id="movie-title">{{ results['title'] }}</h1>
        <img src="https://image.tmdb.org/t/p/original/{{ results['backdrop_path'] }}" class="info-poster">
            <h2 class="info-header">Release Date:</h2><h3 class="info-info">{{ results['release_date'] }}</h3><br>
            <h2 class="info-header">Director:</h2><h3 class="info-info">{{ director[0] }}</h3><br>
            <h2 class="info-header">Studio:</h2><h3 class="info-info">
                {% for company in results['production_companies'] %}
                    {{ company['name'] }}, 
                {% endfor %}
            </h3><br>
            <h2 class="info-header">Genres:</h2><h3 class="info-info">
                {% for genre in results['genres'] %}
                    {{ genre['name'] }}, 
                {% endfor %}
            </h3><br>
            <h2 class="info-header">Starring:</h2><h3 class="info-info">
                {% for actor in actors %}
                    {{ actor }}, 
                {% endfor %}
            </h3><br>
            <h2 class="info-header">Runtime:</h2><h3 class="info-info">{{ results['runtime'] }} minutes</h3><br>
            <h2 class="info-header">Average Rating:</h2><h3 class="info-info">{{ results['vote_average'] }}</h3><br>
            <h2 class="info-header">Synopsis:</h2><h3 class="info-info">{{ results['overview'] }}</h3>   
    </div>





{% endblock %}