{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}

    <div class="login-center">
        <h1>Registration</h1>
        <form method="POST" action="" class="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.user_first_name.label }}
                {{ form.user_first_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.user_last_name.label }}
                {{ form.user_last_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            {{ form.submit(class="login-button") }}
        </form>
    </div>
    





{% endblock %}