{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}

    <div class="login-center">
        <h1>Registration</h1>
        <form method="POST" class="login-form">
            <label for="email">First Name:</label>
            <br>
            <input type="text" name="first">
            <label for="email">Last Name:</label>
            <br>
            <input type="text" name="last">
            <label for="email">Email:</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" class="login-button">
        </form>
    </div>
    





{% endblock %}