{% extends 'base.html' %}

{% block title %} The Movie Source {% endblock %}

{% block content %}


<h1 class="reviews-title">Reviews for: {{ movie['title'] }}</h1>
<div class="reviews-div">
    {% if reviews %}
        <table class="reviews-table">
            <tr>
                <th class="reviews-header">Name</th>
                <th class="reviews-header">Review</th>
            </tr>
            {% for r in reviews %}
            <tr>
                <td class="reviews-data">{{ r }}</td>
                <td class="reviews-data">{{ reviews[r] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>This movie has no reviews</h2>
    {% endif %}
</div>



{% endblock %}