{% extends 'base.html' %}

{% block title %} The Movie Source {% endblock %}

{% block content %}

<a href="/movie-info/{{ movie['id'] }}"><h1 class="reviews-title">Reviews for: {{ movie['title'] }}</h1></a>

<div class="reviews-div">
    {% if reviews %}
        <div class="reviews-page">
            {% for r in reviews %}
            <div class="review-div">
                <h2 class="reviews-name">{{ r }}</h2>
                <p class="reviews-data">{{ reviews[r] }}</p>
            </div>
            {% endfor %}
        </div> 
        
    {% else %}
        <h2 class="no-reviews">This movie has no reviews</h2>
    {% endif %}
</div>



{% endblock %}