{% extends 'base.html' %}

{% block title %} Write a Review {% endblock %}

{% block content %}

    <div class="write-review">
        <h2>Write a review for: {{ movie['title'] }}</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.review(id="review-text") }}
            <br>
            {% for value in form.ratings %}
                {{ value(class="rating") }}
                {{ value.label(class="rating-label") }}
            {% endfor %}
                
            <br>
            {{ form.submit(class="review-submit") }}
        </form>
    </div>
    

{% endblock %}