{% extends 'base.html' %}

{% block title %} Your Reviews {% endblock %}

{% block content %}

    <h1 class="reviews-title">Your Reviews</h1>
    <div class="reviews-div">
        {% if titles %}
            <div class="reviews-page">
                {% for t in titles %}
                <a href="/movie-name/{{ t }}" class="reviews-name"><h2 class="reviews-name">{{ t }}:</h2></a>
                <p class="reviews-data">{{ titles[t] }}</p>
                <a href="/delete-review/{{ titles[t] }}" class="delete-review">DELETE</a>
                <a href="/write-review/{{ movie_id[loop.index - 1] }}" class="delete-review">UPDATE</a>
                <br>
                <br>
                {% endfor %}
            </div>
        {% else %}
            <h2 class="no-reviews">You currently have no reviews</h2>
        {% endif %}
    </div>

{% endblock %}